<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>home</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>
        <div class="container">
            <h2 class="h2">Liste des personnes</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${#lists.isEmpty(listPersons)}">
                            <td colspan="3">Aucune personnes en base de données</td>
                        </tr>
                        <tr th:each="person: ${listPersons}">
                            <td><span th:text="${person.nom}">Nom</span></td>
                            <td><span th:text="${person.prenom}">Prénom</span></td>
                            <td>
                                <a th:href="@{/updateperson/{id}(id=${person.id})}"><button class="btn btn-info">Modifier</button></a>
                                <a th:href="@{/deleteperson/{id}(id=${person.id})}"><button class="btn btn-danger">Supprimer</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>